streamlit
langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-huggingface
faiss-cpu
sentence-transformers
openai-whisper
edge-tts
audio-recorder-streamlit
PyPDF2
librosa
soundfile
transformers
torch
accelerate
nest_asyncio
torchvision